.modal {
    overflow: auto;

    &__header {
        padding: 1.5rem;
        border-bottom: solid 1px $color-black-1;
    }

    &__body {
        padding: 1.5rem 3rem 3rem;
    }

    &--video {
        .modal__body {
            padding: 0;

            video {
                display: block;
            }

            video[poster] {
                background: black;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.lity-container {
    width: auto;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.lity-content {
    border-radius: 5px;
}

.lity-close {
    display: block;
    position: absolute;
    color: #000;
    opacity: .2;
    right: 10px;
    top: 10px;
    font-size: 2.2rem;
    transition: transform .2s ease, opacity .2s ease;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    backface-visibility: hidden;

    &:hover {
        transform: scale(1.4);
        opacity: .3;
    }
}

.login-modal__link {
    font-size: 1.25em;
    color: #386788;
    transition: color .2s;

    &:hover,
    &:focus {
        color: rgba(56, 103, 136, 0.7);
    }
}

#login-form {
    max-width: 650px;
}

.login-modal__bottom-text {
    text-align: center;
    font-size: 1.1em;
    margin: 1.5em 0 0;
}
