*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; // font-smoothing: antialiased;
}

body {
    font-family: $font-family-basic;
    color: $color-basic-dark;
    font-size: $font-size-basic;
}

img {
    vertical-align: top;
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
}

ul.uncountered {
    padding-left: 2rem;
    font-size: 1.6rem;

    @include min(sm) {
        font-size: 2rem;
    }
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}
