{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
	},
    "rules": {
        "semi": 2,
        "indent": ["error", 4],
        "import/no-extraneous-dependencies": 0,
        "no-unused-vars": 0,
        "import/prefer-default-export": 0
    }
}