.btn {
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;
    transition: all $transition-duration $transition-function;
    text-align: center;
    font-weight: 700;
    padding: 2rem 8rem 1.6rem;
    background: $color-black;
    border-radius: 3px;
    color: $color-white;

    &:hover {
        text-decoration: none;
        background: darken($color-black, 5%);
    }
    
    &:after {
        content: "";
        background: $color-white;
        position: absolute;
        width: 100%;
        height: 11rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        margin: auto;
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.75s ease-in-out;
    }
    
    &:active {
        &:after {
            transform: scale(0);
            opacity: 1;
            transition: 0s;
        }
    }
}